:root {
    --bgc1: #f5deb3;
    --bgc2: tan;
    --font: #074e4e;
}

/****  GENERAL ****/

html,
body {
    margin: 0;
    padding: 0;
}

div,
a,
header,
footer,
nav,
article,
section {
    display: flex;
    flex: 1;
}

img,
video {
    width: 100%;
}

.colonne {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

main {
    flex: 4;
}
.menu{
    position: relative;
    height: min-content;
}

.titreNav, .menuItem, .fusee {
    font-size: 2em;
    color: var(--font);
    background-color: var(--bgc1);
    padding: .8em;
}

.titreNav {
    display: none;
}

.sousMenu {
    display: none;
    background-color: var(--bgc2);
    transition: 1s;
    /* pour éviter que le site descend */
    position: absolute;
    top:5.5em;
}

.sousMenuItem {
    font-size: 1.5em;
    color: var(--font);
    padding: .8em;
    justify-content: center;
}

.menuItemActive {
    color: var(--bgc1);
    background-color: var(--font);
    transition: background-color 1s ;
}

.sousMenuItemActive {
    border: 2px solid var(--font);
}
.decalage{
    flex: 0;
    background-color: #fff;
}

.space{
    height: 100vh;
    object-fit: cover;
}

.hidden{
    display: none;
}

.bigV{
    flex: none;
    height: 50vh;
}

.fusee{
    display: none;
    position: fixed;
    top:80vh;
    left:45vw;
    height: 10vw;
    width: 10vw;
    border-radius: 100%;
}

.fa-rocket{
    transform: rotate(-45deg);
}

/****  Tel  ****/
@media screen and (max-width: 800px) {
    .titreNav {
        display: flex;
    }
    .telColumn{
        flex-direction: column;
    }

    .sousMenu{
        position: static;
        top:0;
    }

    .telNone{
        display: none;
    }

    nav{
        position: relative;
    }

    .telAbs{
        position:absolute;
        width: 100%;
    }

    i{
        transform: rotate(180deg);
        transition: 0.1s;
    }
    
    .iconeretourne{
        transform: rotate(0deg);
        transition: 0.1;
    }
}