:root{
    --colorPolice:#555;
    --colorFont:#ddd;
    --colorValid:rgb(141,255,141);
    --colirInvalid:rgb(255,141,141);
    --colorFontIndice:white;
}
html{
    background-color: var(--colorFont);
}

html, body, div, main, input, label{
    margin: 0;
    padding: 0;
    display: flex;
    flex:1;
}

.column{
    flex-direction: column;
}

.spaceHorizon{
    flex: none;
    height: 3vh;
}

.demi{
    flex: 0.5;
}

.mini{
    flex: 0.2;
}

.centre{
    align-items: center;
    justify-content: center;
}

.green{
    background-color: var(--colorValid);
}
.red{
    background-color: var(--colirInvalid);
}

.greenIcone{
    color: var(--colorValid);
}
.redIcone{
    color: var(--colirInvalid);
}

form{
    padding: 1em;
    border-radius: 3vh;
    background-color: var(--colorPolice);
    color: var(--colorFont);
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    row-gap: 0.5em;
    column-gap: 0.5em;
}
.relative{
    position: relative;
}
.indice{
    padding: 1em;
    border: var(--colorPolice) 1px solid;
    border-radius: 3vh;
    position: absolute;
    background-color: var(--colorFontIndice);
    color: var(--colorPolice);
    top: 100%;
    width: 600%;
    z-index: 1;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.fa-eye{
    position: absolute;
    left: -2em;
    color: var(--colorPolice);
}

.active{
    color: var(--colorFontIndice);
    background-color: var(--colorPolice);
    border-radius: 40%;
}