*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body, header, main, nav, section, footer, div, h1, h2, a, button, img, form, .flex{
    display: flex;
    flex:1;
}

.column, body, header, main{
    flex-direction: column;
}

main{
    background-color: var(--color5);
}


img{
    width: 100%;
}

.mini{
    flex: 0.2;
}

.demi{
    flex: 0.5;
}

.gig{
    flex: 10;
}

.spaceHorizon{
    height: 4vh;
}

footer{
    height: 10vh;
}

.center, a{
    align-items: center;
    justify-content: center;
}

.flexeNone, footer, .spaceHorizon{
    flex: none;
}

.menu,.sousMenu,header{
    background-color: var(--color4);
}

.menu:first-child, footer, .button, .menu:hover, .sousMenu a:hover{
    background-color: var(--color3);
}

.menu:last-child{
    border: 1px solid var(--color5);
}

nav{
    position: sticky;
    top:0;
}
.menu{
    position: relative;
}
.sousMenu{
    position: absolute;
    min-width: 100%;
}
.titreMenuTel, .quEnTel,.sousMenu{
    display: none;
}
.menu:hover .sousMenu{
    display: flex;
}
.boutonTop{
    position:sticky;
    top: 70vh;
}
.button{
    border-radius:5vh;
}

input:invalid{
    background-color: rgb(255, 140, 140);
}
